# Configurações do MQTT Broker
# Substitua os valores abaixo pelas suas credenciais do MQTT

MQTT_HOST=xxxxxxxx.s1.eu.hivemq.cloud
MQTT_PORT=8884
MQTT_PATH=/mqtt
MQTT_USER=seu_usuario
MQTT_PASS=sua_senha